/*
    Block pcf
        Element column

*/
.pcf-component {
    width: 100%;
    display: flex;
    gap: 10px;
}

.pcf-component__column-item {
    display:block;
    padding: 2em;
    border: 1px solid grey;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.hide {
    display:none;
}

